h1 Listing employees

table
  thead
    tr
      th
      th
      th

  tbody
    - @employees.each do |employee|
      tr
        td = link_to 'Show', employee
        td = link_to 'Edit', edit_employee_path(employee)
        td = link_to 'Destroy', employee, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Employee', new_employee_path
