= form_for @classroom do |f|
  - if @classroom.errors.any?
    #error_explanation
      h2 = "#{pluralize(@classroom.errors.count, "error")} prohibited this classroom from being saved:"
      ul
        - @classroom.errors.full_messages.each do |message|
          li = message

  .actions = f.submit 'Save'
