h1 Listing classrooms

table
  thead
    tr
      th
      th
      th

  tbody
    - @classrooms.each do |classroom|
      tr
        td = link_to 'Show', classroom
        td = link_to 'Edit', edit_classroom_path(classroom)
        td = link_to 'Destroy', classroom, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Classroom', new_classroom_path
