h1 Listing people

table
  thead
    tr
      th
      th
      th

  tbody
    - @people.each do |person|
      tr
        td = link_to 'Show', person
        td = link_to 'Edit', edit_person_path(person)
        td = link_to 'Destroy', person, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Person', new_person_path
