= form_for @teacher do |f|
  - if @teacher.errors.any?
    #error_explanation
      h2 = "#{pluralize(@teacher.errors.count, "error")} prohibited this teacher from being saved:"
      ul
        - @teacher.errors.full_messages.each do |message|
          li = message

  .actions = f.submit 'Save'
