h1 Listing teachers

table
  thead
    tr
      th
      th
      th

  tbody
    - @teachers.each do |teacher|
      tr
        td = link_to 'Show', teacher
        td = link_to 'Edit', edit_teacher_path(teacher)
        td = link_to 'Destroy', teacher, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Teacher', new_teacher_path
