h1 Listing administrators

table
  thead
    tr
      th
      th
      th

  tbody
    - @administrators.each do |administrator|
      tr
        td = link_to 'Show', administrator
        td = link_to 'Edit', edit_administrator_path(administrator)
        td = link_to 'Destroy', administrator, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Administrator', new_administrator_path
