= form_for @parent do |f|
  - if @parent.errors.any?
    #error_explanation
      h2 = "#{pluralize(@parent.errors.count, "error")} prohibited this parent from being saved:"
      ul
        - @parent.errors.full_messages.each do |message|
          li = message

  .actions = f.submit 'Save'
